@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background-color: azure;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #F15B4A;
  font-family: "Hind Siliguri", sans-serif;
  align-self: center;
}

h2 {
  color: #5A261B;
  font-family: 'Poppins', sans-serif;
}

.side {
  display: flex;
  flex-direction: row;
}

.img {
  background-color: azure;
  height:30vh;
  width: auto;
  margin: 20px;
}


.AddCard {
  
  align-self: center;
  
  height: 200px;
  width: 250px;
  border-radius: 15%;
  border-color: #C7D3BF;
  
  color: #5A261B;
  
}

.ToDoList {
align-self: center;
}
input {
  align-self: flex-start;
  color: #5A261B;
  
}


.add {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  background-color: #3DA35D;
  height: 70px;
  width: 140px;
  margin: 10px;
  align-content: center;
  justify-content: center;
  border-radius: 25%;

}

.clear {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  background-color: #F7B1AB;
  height: 70px;
  width: 140px;
  margin: 10px;
  align-content: center;
  justify-content: center;
  border-radius: 25%;
}

.counter {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}