@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background-color: azure;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #F15B4A;
  font-family: "Hind Siliguri", sans-serif;
  align-self: center;
  font-size: 2.5rem;
}

h2 {
  color: #5A261B;
  font-family: 'Poppins', sans-serif;

}


.img {
  background-color: azure;
  height:30vh;
  width: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.AddCard {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;

  align-self: center;
  
  height: 50px;
  width: 500px;
  border-radius: 2rem;
  border-color: #C7D3BF;
  
  color: #5A261B;
  
}

.ToDoList {
align-self: center;
}

input {
  align-self: flex-start;
  color: #5A261B; 
}


.add {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  background-color: #3DA35D;
  height: 70px;
  width: 140px;
  margin: 10px;
  align-content: center;
  justify-content: center;
  border-radius: 2rem;
  cursor: grab;
  
}
.add:hover {
  background-color: #eedf5b;
  box-shadow: 0px 15px 20px rgba(238, 233, 91, 0.4);
  color: white;
  transform: translateY(-7px);
  cursor:grabbing;
}

.clear {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  background-color: #F7B1AB;
  height: 70px;
  width: 140px;
  margin: 10px;
  align-content: center;
  justify-content: center;
  border-radius: 2rem;
  cursor: grabbing;
}

.clear:hover {
	background-color: #eedf5b;
	box-shadow: 0px 15px 20px rgba(238, 233, 91, 0.4);
	transform: translateY(-7px);
}

.counter {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  align-self: center;
}